<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.localbus">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LocalBus"
        android:configChanges="uiMode">
        <activity android:name=".SplashScreen"
            android:configChanges="uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:configChanges="uiMode"/>
        <activity
            android:name=".Dtgvnactivity"
            android:configChanges="uiMode"/>
        <activity android:name=".SrchAct"
            android:configChanges="uiMode"/>
        <activity android:name=".ForgotPassword"
            android:configChanges="uiMode"/>
        <activity android:name=".RegisterUser"
            android:configChanges="uiMode"/>
    </application>

</manifest>